{% extends 'navbar.html' %}
{% block content %}
<style>
  tr
  {
  background-color:black;color:yellow
  }
  h2
  {
  background-color:black;color:white;
  }
</style>
<body>
<h2 align="center">Display Books</h2>
<table align="center" class="table">
  <tr class="a"><td>Id</td>
  <td>BookName</td>
  <td>AuthorName</td>
    <td>Course</td>
  <td>Update</td>
  <td>Delete</td></tr>
  <tr>
    {% for i in data %}
    <td class="b">{{ i.id }}</td>
    <td class="b">{{ i.Book_Name }}</td>
    <td class="b">{{ i.Author_Name }}</td>
    <td class="b">{{ i.Course_Id }}</td>
    <td class="b"><a href="{% url 'up' i.id %}">Update</a> </td>
    <td class="b"><a href="{% url 'del' i.id %}">Delete</a> </td>
  </tr>
  {% endfor %}
</table>
</body>
{% endblock %}